@model IEnumerable<DocterSpot.Models.ContactModel>

@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<link href="~/Content/Admin_LayoutCSS/Feedback.css" rel="stylesheet" />

<h2 class="h2">Feedback</h2>
<p class="p">Our remarks (or) comments</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
        </tr>
    }

</table>

<!-- Prevent back  -->
<SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>

<BODY onload="noBack();"
      onpageshow="if (event.persisted) noBack();" onunload="">
</BODY>