
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin- HealthCare Application </title>
    <title>@ViewBag.Title - DocterSpot Application</title>

    <link href="~/Content/Admin_LayoutCSS/Admin_Layout.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/8108bf77ec.js" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <nav>
        <div class="nav-left">
            <h1> <i class="fa-solid fa-user-doctor"></i> HealthCare </h1>
        </div>

        <div class=" nav-right">
            <a href="@Url.Action("HomeAdmin", "Admin")" class="home">Home</a>
            <a href="@Url.Action("DoctorDetails", "Admin")" class="md">Manage doctor</a>
            <a href="@Url.Action("AdminDetails", "Admin")" class="ma"> Manage admin </a>
            <a href="@Url.Action("UserDetails", "Admin")" class="mu"> Manage user </a>
            <a href="@Url.Action("FeedBack", "Admin")" class="mu"> Feedback </a>
            <a href="@Url.Action("EditAdminProfile", "Admin",new { id = Session["Id"] })" class="edp"> Profile </a>
            <a href="@Url.Action("Logout", "Home")" class="lo"> Logout </a>
        </div>
    </nav>

    <div class=" body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="con">
            <div class="row">
                <div class="col">
                    <h4>Home</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our services </a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">affiliate programa</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Admin</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Manage docter</a></li>
                        <li><a href="#">Manage admin</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Docter</h4>
                    <ul>
                        <li><a href="#">Appointment status</a></li>
                        <li><a href="#">Time avalibility</a></li>
                        <li><a href="#">Schedule appointment</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Follow us</h4>
                    <div class="links">
                        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright"> Copyright &copy; 2023, HealthCare application All Rights Reserved.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
