@model DocterSpot.Models.UserModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/HomeScripts/ForgotPassword.js"></script>
<link href="~/Content/_LayoutCSS/ForgotPassword.css" rel="stylesheet" />

<div class="container">
    <h2 class="h2">Forgot Password</h2>
    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { onsubmit = "return validate();" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @id = "Fname", @class = "form-control", onfocusout = "checkFname()" } })
                    <span id="errorFname" class="error"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "email", @class = "form-control", onfocusout = "checkEmail()" } })
                    <span id="errorEmail" class="error"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Change password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "password", @class = "form-control", onfocusout = "checkPassword()" } })
                    <span id="errorPassword" class="error"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Confirm password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "confirmPassword", @class = "form-control", onfocusout = "checkConfirmPassword()" } })
                    <span id="errorConfirmPassword" class="error"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
