@model IEnumerable<DocterSpot.Models.PatientModel>

@{
    ViewBag.Title = "AppointmentStatus";
    Layout = "~/Views/Shared/Patient_Layout.cshtml";
}
<link href="~/Content/PatientCSS/ApointmentStatus.css" rel="stylesheet" />

<h2 class="h2">Appointment status</h2>
<p class="p"> Your appointment status</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Issue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitTime)
            </td>
            <td>
                @if (item.Status == 0)
                {
                    <span>Waiting</span>
                }
                else if (item.Status == 1)
                {
                    <span>Confirm</span>
                }
                else if (item.Status == 2)
                {
                    <span>Rejected</span>
                }
            </td>

        </tr>
    }

</table>

<!-- Prevent back  -->
<SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>

<BODY onload="noBack();"
      onpageshow="if (event.persisted) noBack();" onunload="">
</BODY>